@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
.bo {
  border: 2px solid red;
}
.banner {
  background: url("./img/bNNER-background1.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 812px;
  max-width: 100%;
  position: relative;
}
.banner-box {
  position: absolute;
  width: 643px;
  height: 443px;
  left: 700px;
  top: 253px;
  background: #fff3e3;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 0 30px;
}
